@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=JetBrains+Mono&display=swap');
@import 'tailwindcss';
@import '@fontsource/fira-mono';

@theme {
	--color-surface: #0f0f11;
	--color-surface-card: #18181b;
	--color-surface-elevated: #212127;

	/* accent */
	--color-accent: #6366f1;
	--color-accent-hover: #818cf8;
	--color-accent-muted: #312e81;

	/* brand */
	--color-brand-orange: #f97316;
	--color-brand-green: #22c55e;
	--color-brand-red: #ef4444;
}

@layer base {
	body {
		@apply bg-surface text-white font-sans;
	}
}

button {
	cursor: pointer;
}
